body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ddd;
}

h1 {
    margin-top: 30px;
}

.nuoli {
    font-size: 38px;
    margin-bottom: 5px;
}

#wheel {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    border: 5px solid black;
    border-radius: 50%;
    position: relative;

    background: conic-gradient(
            green 0deg 45deg,
            red 45deg 90deg,
            blue 90deg 135deg,
            orange 135deg 180deg,
            purple 180deg 225deg,
            yellow 225deg 270deg,
            pink 270deg 315deg,
            brown 315deg 360deg
);


    transition: transform 10s;
}

.teksti {
    position: absolute;
    width: 100px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.yksi {
    top: 62px;
    left: 178px;
}

.kaksi {
    top: 185px;
    left: 178px;
}

.kolme {
    top: 185px;
    left: 27px;
}

.nelja {
    top: 62px;
    left: 27px;
}

.viisi {
    top: 135px;
    left: 15px;
}

.kuusi {
    top: 215px;
    left: 65px;
}

.seitseman {
    top: 215px;
    left: 160px;
}

.kahdeksan {
    top: 135px;
    left: 200px;
}

button {
    font-size: 20px;
    padding: 10px 25px;
    cursor: pointer;
}

#tulos {
    margin-top: 20px;
    font-size: 24px;
}
/* Popup-laatikko on aluksi piilossa. */
#popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Tämä on popupin keskellä oleva laatikko. */
#popupBox {
    width: 450px;
    margin: 180px auto;
    background-color: #222;
    color: white;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
}

/* Tämä on popupin otsikko. */
#popupHeader {
    background-color: blue;
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
    text-align: left;
}

/* Tämä näyttää lopullisen tuloksen isolla tekstillä. */
#popupResult {
    font-size: 45px;
    padding: 30px;
}

#popupBox button {
    margin-bottom: 20px;
}

.merkkiKuva {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

#popupKuva {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto 25px auto;
    border-radius: 50%;
}