<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <title>Ruletti peli</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>

    <h1>Ruletti peli</h1>
    <p>Paina nappia ja pyöritä rulettia.</p>

    <!-- Nuoli näyttää mihin ruletti pysähtyy -->
    <div class="nuoli">▼</div>

    <!-- Rulettipyörä ja vaihtoehdot -->
    <div id="wheel">
        <div id="wheel">
            <div class="teksti yksi">Voitit</div>
            <div class="teksti kaksi">Hävisit</div>
            <div class="teksti kolme">Uudestaan</div>
            <div class="teksti nelja">Merkki</div>
        </div>




</body>
</html>