<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <title>Ruletti peli</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Ruletti peli</h1>
    <p>Paina nappia ja pyöritä rulettia.</p>

    <!-- Nuoli näyttää mihin ruletti pysähtyy -->
    <div class="nuoli">▼</div>

    <!-- Rulettipyörä ja vaihtoehdot -->
    <div id="wheel">
        <div class="teksti yksi">
            <img src="{{ url_for('static', filename='merkki1.png') }}" class="merkkiKuva">
        </div>

        <div class="teksti kaksi">😢 Ei mitään</div>

        <div class="teksti kolme">🔁 Uudestaan</div>

        <div class="teksti nelja">
            <img src="{{ url_for('static', filename='merkki2.png') }}" class="merkkiKuva">
        </div>
    </div>
        <button onclick="pyorita()">Pyöritä</button>

        <!-- Tulos tulee tähän -->
        <h2 id="tulos">Tulos: -</h2>

    <!-- Tämä on oma popup-laatikko tulokselle. -->
    <div id="popup">
        <div id="popupBox">
            <div id="popupHeader">Tulos</div>
            <div id="popupResult">-</div>
            <button onclick="suljePopup()">Sulje</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>